page-allsura {
    .surabtn{
        margin: 20px 0;
        height: 50px;
        line-height: 50px;
        text-transform: none;
        font-size: 20px;
    }
    .colordiv{
        direction: rtl;
        margin: 15px;
    }
    
    .btn{
        height: 50px;
        font-size: 20px;
    }

    p{

        text-align: center;
        background-size: 100% 100%;
        color: WHITE;
        font-size: 28px;
        padding: 10px 0;
        margin: 10px;
        background-image: url('../assets/imgs/bg.png');
    }


}
