page-aya {
.par{
    text-align: center;
    border: 1px dashed;
    padding: 20px;
    background-color: transparent;
    font-size: 25px;
    width: 94%;
    margin: 5px 3%;
    color: white;
    height: 135px;
     
}
.surabtn{
    margin: 20px 0;
    height: 50px;
    line-height: 50px;
    text-transform: none;
    font-size: 20px;
}
.colordiv{
    direction: rtl;
    margin: 15px;
    flex: 1;
}
.sdiv{
    margin:10px 10px 40px;
    height: 60%;
}
.btn{
    height: 50px;
    font-size: 20px;
    background: #e0e0e0;
    color: black;
    font-weight: bold;
    line-height: 50px;
    margin: 5px 0;
}
.zoom{
    width: 95%;
    margin: 0 auto 40px
}
audio{
    width: 100%;
}
.backbtn {
    margin-top: 50px;
}
}
