page-gozaa {
div {
    width: 98%;
    margin: 0 auto;
}    
.classp{

    text-align: center;
    background-size: 100% 100%;
    color: WHITE;
    font-size: 28px;
    padding: 10px 0;
    height: 50px;
    background-image: url('../assets/imgs/bg.png');
}
ion-slides {
       
    .row{
     position: absolute;
     top: 50px;
     width: 100%;
    }
 }
 .backbtn {
    width: 90%;
    margin: 5px auto;
}
 .scroll-content{   
    margin-bottom: 55px;
}
}
